/* Styles CSS Datei für LottoClientApp by Fernando Stutz */ 

.toggle-button {
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-background-color: #FFFFFF;
	-fx-border-color: #FF0000;
}

.toggle-button:hover {
	 -fx-background-color: #FFFF00;
}

.toggle-button:selected {
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-background-image: url('selected.jpeg');
	  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button:disabled: {
	 -fx-background-color: #FFFF00;
}